<div th:fragment="introduction">
    <div class="introduction">
        <img class="comp_img hidden-xs hidden-sm" src="/static/images/aboutus/image_company.png">
        <img class="comp_img hidden-md hidden-lg" src="/static/images/aboutus/image_company_phone.png">
        <div class="info_content">
            <p>
                西安冠铭科技股份有限公司是中国最大的高校智慧校园网络运营服务商和解决方案供应商。具有国家通信二级运营商资质和跨地区经营资格。主要业务是面向全国智慧校园的战略投资及合作，为广大高校用户提供BOT投资建设智慧校园基础网络、及其他类校园网投资项目（热水器洗澡、校园直饮水机、共享纸巾、共享打印机等投资类项目）和运维服务。同时,研发团队结合多年学校教学和管理经验，为用户提供卓越的智慧校园一体化解决方案，从泛载的基础网络建设，到基于大数据和物联网技术的教学信息化全生态系统、教务决策管理系统，满足智慧化校园发展的长远需要，适应教师、学生的学术研究，全面推进智慧教学、智慧学习，以及促进学校与国内外名校之间的交流交往，即时了解国内最新教学成果、了解国际上科技发展的现状。
            </p>
            <p>
                冠铭科技依托自主研发的大数据服务平台及私有云分布系统，可为高校提供学生学习、生活、工作等方面的大数据决策系统，辅助高校开展个性化人才培养，并通过我们的配套产业基金及人才养成计划，与高校共建创新、创业平台，创造精英人群的未来。
            </p>
            <p>
                冠铭智慧校园是以物联网、互联网为基础的智慧化的校园工作、学习和生活一体化，以各种应用服务系统为载体，将面对学生的的终端用户录取、查询、缴费、抢宿舍、充电费、校内订餐、在线服务等校园生活进行充分融合。为高校量身打造一套隶属于高校自己的智慧化管理信息综合服务平台。
            </p>
            <p>
                冠铭科技专注智慧校园，投资心无旁骛；服务教育远景，贡献智慧育人。
            </p>
        </div>
    </div>
</div>