<div th:fragment="footer">
    <div class="foot-main">
        <div class="footer-nav">
            <ul>
                <li><a th:href="@{/pageindex}">冠铭首页</a></li>
                <li><a th:href="@{/pageaboutus-aboutus?type=tab-album}">企业相册</a></li>
                <li><a th:href="@{/pagecase-case}">成功案例</a></li>
                <li><a th:href="@{/pagesolution-solution?type=tab-smartCampus}">智慧校园</a></li>
                <li><a th:href="@{/pagesolution-solution?type=tab-schoolNet}">校园网络</a></li>
                <li><a th:href="@{/pagesolution-solution?type=tab-wifi}">无线WIFI</a></li>
                <li><a th:href="@{/pagenews-news}">最新动态</a></li>
                <li><a th:href="@{/pageaboutus-aboutus?type=tab-introduction}">关于我们</a></li>
                <li><a th:href="@{/pageaboutus-aboutus?type=tab-contact}">联系我们</a></li>
            </ul>
        </div>
        <div class="footer-companyInfo">
            <div class="footer-version">
                <p></p>
                <p> 版权所有：西安冠铭科技股份有限公司<br>
                    地址：西安市莲湖区丰登南路2号公园国际1单元1401室 &nbsp;&nbsp; <br class="hidden-lg hidden-md">联系人：史经理 &nbsp;&nbsp; 手机：15667023888 &nbsp;&nbsp; <br class="hidden-lg hidden-md">咨询电话：400-1566-888 <br>
                    <a href="" title="网站地图"> 网站地图</a> <a href="" title="RSS">RSS </a><a href="" title="XML">XML </a>&nbsp;  <a href="" title="陕西">陕西</a>|<a href="" title="山东">山东</a>|<a href="" title="沈阳">沈阳</a>|<a href="" title="四川">四川</a>|<a href="" title="江苏">江苏</a>|<a href="" title="西安">西安</a>|<a href="/" title="咸阳">咸阳</a> <br>西安冠铭科技股份有限公司主要从事陕西校园网络、陕西高校信息化、智慧校园、无线wifi覆盖的产品，欢迎前来咨询!
                </p>
            </div>
            <div class="footer-erweima hidden-xs hidden-sm hidden-md">
                <img src="/static/images/footer_erweima.png" width="106" title="二维码" alt="二维码"><span>扫一扫访问手机站</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer-copyright">
            西安冠铭科技 <br class="hidden-lg hidden-md"> Copyright © 2018 gmunidata.All Rights Reserved <br class="hidden-lg hidden-md"> 陕ICP备16012538号-2
        </div>
    </div>
</div>