<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:gm="" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/layout">
<head>
    <link gm:href="index">
    <link gm:href="content">
</head>
<body id="index-body">
<div layout:fragment="content"><div id="phoneMenuName" style="display: none;">最新动态</div>
    <div th:replace="layout/commonTop :: carouse('最新动态',
                                                    'bg_news_top.png',
                                                    '多年来，我们致力于扎根行业，深入场景进行产品设计和创新，为行业用户构建端到端的解决方案，为客户网络创造新价值。')">
    </div>

    <div th:replace="layout/breadNav :: nav('首页,最新动态,陕西科技大学镐京学院智慧校园网竣工验收','/pageindex,/pagenews-news,/pagenews-news_01')"></div>

    <div class="container content-detail">
        <div class="content-top">
            <div class="content-title">陕西科技大学镐京学院智慧校园网竣工验收</div>
            <div class="content-info">作者：admin &nbsp; 发布日期：2018/6/1 &nbsp; 关注次数：699</div>
        </div>
        <div class="content-bottom">
            <p>2018年5月31日，西安冠铭科技有限公司与陕西科技大学镐京学院合作智慧校园网竣工验收。</p>

            <div class="content-img"><img src="/static/images/news/news_01_01.jpg" width="881" alt="01"></div>

            <div class="content-img"><img src="/static/images/news/news_01_02.jpg" width="881" alt="02"></div>

            <div class="content-img"><img src="/static/images/news/news_01_03.jpg" width="881" alt="03"></div>
        </div>
    </div>

</div>
</body>
</html>