<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:gm="" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/layout">
<head>
    <link gm:href="index">
    <link gm:href="content">
</head>
<body id="index-body">
<div layout:fragment="content"><div id="phoneMenuName" style="display: none;">最新动态</div>
    <div th:replace="layout/commonTop :: carouse('最新动态',
                                                    'bg_news_top.png',
                                                    '多年来，我们致力于扎根行业，深入场景进行产品设计和创新，为行业用户构建端到端的解决方案，为客户网络创造新价值。')">
    </div>

    <div th:replace="layout/breadNav :: nav('首页,最新动态,冠铭科技智慧校园基础网络投资项目','/pageindex,/pagenews-news,/pagenews-news_06')"></div>

    <div class="container content-detail">
        <div class="content-top">
            <div class="content-title">冠铭科技智慧校园基础网络投资项目</div>
            <div class="content-info">作者：admin &nbsp; 发布日期：2018/11/09 &nbsp; 关注次数：603</div>
        </div>
        <div class="content-bottom">
            <p>冠铭科技是一家专业投资大学智慧校园的企业，鉴于目前国内相当一部分大学在校园网覆盖上，因投资原因，往往是有线覆盖全、无线覆盖少，以至于在学校大教室、图书馆、食堂等公共场合学生使用笔记本电脑、手机等终端设备学习、查资料等很不方便，为全面改善目前学校的基础通信状况，促进智慧校园建设的发展，冠铭科技愿以有偿投资，十年合作，无偿赠与所投配套设施及应用软件等方式与相关大学合作，加快智慧校园的建设。</p>
            <p>我们为大学所投入的通信设备，是冠铭科技长期合作的设备厂商，都是现有国内外通信业的高端主流产品，学校可在设备升级方面优先选择。网络设备投入包括：核心设备、安全设备、接入设备、无线AP等。实现万兆核心接入，校内千兆互联，让教职员工及学生的上网体验感安全感倍增，并且不会再出现信息孤岛。</p>
            <p>同时我们建设完成后的校园网络完全满足公安部发布的82号令、及中华人民共和国《网络安全法》的要求，对师生进行上网实名认证的同时，还满足对师生上网行为审计、日志存储（不少与6个月）及其他安全性要求。</p>
            <p>确保合同签订后安合同约定时间内实现校园无线网络全覆盖，上网速度及师生网上体验全面满意。</p>
            <p>投资完成后，学校办公区内，老师使用宽带全部免费；学生使用部分，我们将确定价格有低有高的多款套餐，经学校确认后由学生自由选择，以满足学生对不同上网流量的使用需求，以减轻目前高资费多捆绑业务模式给学生带来的无法选择的压力。</p>
            <p>结合各大学的实际，致力于校园大数据平台建设，在每年持续投资的过程中，与大学共同构建私有云分布系统，与学校共同实现智慧教室、智慧图书馆、智慧办公等软件的全面应用及升级，最终达到多平台数据的全面整合。</p>
            <p>建成后的智慧校园平台的管理，我们将本着合作共管、校方为主、保密合约、绝对安全的原则，做好管理工作。</p>
            <p>投资完成后，各大学的出口带宽费、网络维护费、设备维修费、人工费等皆是冠铭科技负担。</p>
            <p>冠铭科技将“全天候”对学校的网络及设备进行维护，无节假日驻校值班值守，确保校园网络的稳定运行。</p>
            <p>合作期间，冠铭科技将以智慧校园建设为平台，为在校学生提供兼职工作、勤工俭学；毕业实习、社会实践等机会。</p>
            <p>冠铭科技在合同期内，每年将为相关合作大学提供奖学金，资助鼓励品学兼优的优秀学员5-10人。</p>
        </div>
    </div>

</div>
</body>
</html>