<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:gm="" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/layout">
<head>
    <link gm:href="index">
    <link gm:href="content">
</head>
<body id="index-body">
<div layout:fragment="content"><div id="phoneMenuName" style="display: none;">客户案例</div>
    <div th:replace="layout/commonTop :: carouse('客户案例',
                                                    'case/bg_top.png',
                                                    '多年来，我们致力于扎根行业、深入场景进行产品设计和创新，为行业用户构建端到端的解决方案，为客户网络创造新价值')">
    </div>

    <div th:replace="layout/breadNav :: nav('首页,客户案例,陕西服装工程学院案例','/pageindex,/pagecase-case,/pagecase-case_haojing')"></div>

    <div class="container content-detail">
        <div class="content-top">
            <div class="content-title">陕西服装工程学院案例</div>
            <div class="content-info">作者：admin &nbsp; 发布日期：2018/6/10 &nbsp; 关注次数：299</div>
        </div>
        <div class="content-bottom">
            <h4>学校概况</h4>
            <p>陕西服装工程学院创建于1994年，是国家教育部批准设立具有学士学位授予权的普通本科大学，学校以工为主，工、艺、文、管、经、医、教相结合的多学科协调发展的全日制特色本科高校。 学校按照“市场化思维、国际化视野、特色化发展”的办学理念，在办学实践中坚持“质量立校、人才强校、特色兴校、依法治校”，不断深化教育教学改革，加强内涵建设，形成了鲜明的办学特色。现设服装艺术学院、艺术工程学院、传媒学院、管理学院、金融学院、信息工程学院、城市建设学院、珠宝学院、医药学院、教育学院、空乘学院、轨道交通学院、外国语学院13个二级学院，60余个本、专科专业。在学生12000人左右。</p>

            <h4>原有网络概况</h4>
            <p>1、无线网络覆盖率低，全校安装各类无线AP共计531台，无法满足教育部要求的98%的全院覆盖率。</p>
            <p>2、学院网络没有专业的网络行为管理设备，不能满足最新的网络安全法及公安部要求的82令。</p>

            <h4>冠铭科技投资后</h4>
            <p>1、建设内容：对校区进行有线网络及无线网络的建设，其中无线网络覆盖率达到98%。并将有线网络按业务的不同需要进行物理的网络隔离。</p>
            <p>2、新增无线AP 720多台，POE交换机36台。</p>
            <p>3、新增核心交换机1套；上网行为管理、认证计费等设备各1套。</p>
            <p>4、实现对学校学生，教职工上网行为进行统一认证及计费，并对上网用户的行为进行审计及日志记录存储等。</p>
            <p>5、学院校园网的整合，加速学校信息化建设进程，为信息化校园提供了稳定且可持续发展的基础平台。</p>

            <div class="content-img"><img src="/static/images/case/case_fuzhuang01.jpg" width="881" alt="01"></div>
        </div>
    </div>
</div>
</body>
</html>