<div th:fragment="water">
    <div>
        <div>
            <span class="item-header-text">专业净水服务方案<div class="global-bottomLine"></div></span>
        </div>
        <div class="container solution-schoolNet hidden-xs hidden-sm">
            <div class="row">
                <div class="col-md-12">
                    <div class="solution-teach">
                        <h1>免费上门勘测</h1>
                        <div class="teach-detail">
                            <div class="col-md-8 teach-top-left">
                                <h4>量身定制专业净水方案</h4>
                                <p>经验丰富的冠铭专业服务工程师团队，提供一站式现场勘测、净水设备选型，现场施工安装等服务，已为数万家商用客户提供过专业安全净水解决方案。</p>
                            </div>
                            <div class="col-md-4 teach-top-right">
                                <h3>定制方案</h3>
                            </div>
                            <div class="col-md-8 teach-bottom-left">
                                <h3>检测水质</h3>
                            </div>
                            <div class="col-md-4 teach-bottom-right">
                                <h3>换滤芯</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 移动端 -->
        <div class="container solution-water-phone hidden-md hidden-lg">
            <div class="row">
                <h1>免费上门勘测</h1>
                <div class="col-md-3 water-top-left">
                    <h4>量身定制专业净水方案</h4>
                    <p>经验丰富的冠铭专业服务工程师团队，提供一站式现场勘测、净水
                        设备选型，现场施工安装等服务，已为数万家商用客户提供过专业
                        安全净水解决方案。</p>
                </div>
                <div class="col-md-3 water-top-right">
                    <h3>定制方案</h3>
                </div>
                <div class="col-md-3 water-bottom-left">
                    <h3>检测水质</h3>
                </div>
                <div class="col-md-3 water-bottom-right">
                    <h3>换滤芯</h3>
                </div>
            </div>
        </div>

        <div class="container index-advantage solution-safeService">
            <h3><span>365安全服务</span><div class="global-bottomLine"></div></h3>
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <img class="advantage-outerImg" src="/static/images/img_yuan_01.png" alt="外环">
                        <img class="advantage-innerImg" src="/static/images/icon_guzhang.png" alt="发出故障信息">
                    </div>
                    <p>净水器发出故障信息</p>
                </div>
                <div class="col-md-4">
                    <div>
                        <img class="advantage-outerImg" src="/static/images/img_yuan_01.png" alt="外环">
                        <img class="advantage-innerImg" src="/static/images/icon_cloud.png" alt="云端接收报修指令">
                    </div>
                    <p>“云端”接收报修指令并将指令发送至售后</p>
                </div>
                <div class="col-md-4">
                    <div>
                        <img class="advantage-outerImg" src="/static/images/img_yuan_01.png" alt="外环">
                        <img class="advantage-innerImg" src="/static/images/icon_baoxiu.png" alt="上门维修">
                    </div>
                    <p>售后人员接收报修指令并主动上门维修</p>
                </div>

                <div class="col-md-12 safeService-middleLine"></div>

                <div class="col-md-6 safeService-bottomLeft"></div>
                <div class="col-md-6 safeService-bottomRight">
                    <div>
                        <h4>365 专属耗材</h4>
                        <h5>滤芯寿命预警系统</h5>
                        <p>冠铭耗材滤芯更换全部由“云服务中心”自动管理，当耗材滤芯的出水时间或使用寿命即将达到安全值时，冠铭“云服务中心”会发出指令，用户净水器的耗材滤芯更换指示图标将用闪烁并凤鸣式提示，如果用户未发现提示，为保证水质安全，净水器将在耗材滤芯到达寿命之时自动关闭造水功能，切实保障用户的饮水安全。</p>
                    </div>
                    <div>
                        <h4>24X365</h4>
                        <h5>安心服务保障</h5>
                        <p>全行业率先实行24X365全天全年的客服热线净水服务品牌，并且为保障服务质量，冠铭坚持售后服务不外包，直属管理的售后服务团队全年无间断的随时聆听你的需求，为您服务。并有专属客服定期回访，保证你365天的高品质安全好水。
                        </p>
                    </div>
                    <div>
                        <h4>资费更透明</h4>
                        <h5>的安心服务</h5>
                        <p>冠铭每年收取净水服务，商用客户即可享受水质检测，滤芯更换，售后维修配件更换等服务，在服务期内都不会产生额外费用，资费更透明。</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>