<div th:fragment="hotWater">
    <div>
        <div>
            <span class="item-header-text">电热水器沐浴方式<div class="global-bottomLine"></div></span>
        </div>
        <div class="container solution-hotWater">
            <div class="row">
                <div class="col-md-12">
                    <p>长期以来如何解决学生热水沐浴问题，一直是学校、家长、社会共同关心的焦点！学生洗浴是否安全、方便，加热过程是否节能环保，这都关系到学生的校园生活。</p>
                </div>
                <div class="col-md-6">
                    <img src="/static/images/solution_hotWater_01.png" alt="电热水器1">
                </div>
                <div class="col-md-6">
                    <img src="/static/images/solution_hotWater_02.png" alt="电热水器2">
                </div>
                <div class="col-md-12">
                    <p>目前高校沐浴的供热方式主要以下方式：锅炉房燃煤、燃气供开水；电热水器烧水式；太阳能清洁能源热水器；空气能热水器；而我公司投资建设项目选择电热水器沐浴方式，这种方式不仅技术成熟、安全可靠、方便卫生，还能响应国家环保要求的法律法规，节能减排等。同时为每个拥有独立卫生间的宿舍都将建设拥有一套独立淋浴设施，方便在校学生日常生活洗浴，提高生活学习质量，减少疾病传染率等。</p>
                </div>
            </div>
        </div>

    </div>
</div>