<div th:fragment="schoolNet">
    <div>
        <div>
            <span class="item-header-text">校园网规划<div class="global-bottomLine"></div></span>
        </div>
        <div class="container solution-schoolNet">
            <div class="row">
                <div class="col-md-12">
                    <div class="solution-netTopo hidden-xs hidden-sm">
                        <h1>网络拓扑图</h1>
                    </div>
                </div>
                <!-- 移动端 -->
                <div class="solution-netTopo-phone hidden-md hidden-lg">
                    <h1>网络拓扑图</h1>
                    <div></div>
                </div>

                <div class="col-md-12 solution-bottom">
                    <div class="col-md-3 solution-bottom-left">
                        <div class="content">
                            <h3>千兆接入、万兆汇聚</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <ul class="solution-left-detail">
                            <li>支撑校园网流量的爆炸式增长</li>
                            <li>满足校园网未来云计算，虚拟化的带宽需求</li>
                            <li>无阻塞网络保证校园业务质量</li>
                        </ul>
                    </div>
                    <div class="col-md-3 solution-bottom-right">
                        <div class="content">
                            <h3>框式核心、汇聚</h3>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <ul class="solution-right-detail">
                            <li>灵活、可持续平滑升级的架构, 满足校园网未来5-10年持续发展需求</li>
                            <li>丰富的板卡覆盖多种场景，满足校园网未来业务扩展需求</li>
                            <li>多重冗余备份，保证校园网关键业务持续在线</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="solution-authenCost">
        <div class="container">
            <h3><span>统一认证计费</span><div class="global-bottomLine"></div></h3>
            <div class="row advantage-detail">
                <div class="col-md-4">
                    <div class="authenCost-icon">
                        <img src="/static/images/icon_safe.png" alt="网络安全">
                    </div>
                    <div class="authenCost-detail">
                        <h4>网络安全</h4>
                        <p>校园网中有很多技术、动手能力强的用户，需要注意无线网络的安全问题，预防非法设备接入的问题</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="authenCost-icon">
                        <img src="/static/images/icon_82.png" alt="82号令">
                    </div>
                    <div class="authenCost-detail">
                        <h4>82号令</h4>
                        <p>用户实名制，满足公安82号令的要求</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="authenCost-icon">
                        <img src="/static/images/icon_safe_01.png" alt="网络安全法">
                    </div>
                    <div class="authenCost-detail">
                        <h4>网络安全法</h4>
                        <p>《中华人民共和国网络安全法》</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="authenCost-icon">
                        <img src="/static/images/icon_kekao.png" alt="高可靠">
                    </div>
                    <div class="authenCost-detail">
                        <h4>高可靠</h4>
                        <p>校园网络承载着上网，办公，业务系统等重要业务，需要保证高度的可靠性，保证业务的持续稳定</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="authenCost-icon">
                        <img src="/static/images/icon_jifei.png" alt="认证计费">
                    </div>
                    <div class="authenCost-detail">
                        <h4>认证计费</h4>
                        <p>现代校园网中有线无线接入将成为广泛且易用的接入手段，需要便于学生等合法用户随时随地通过认证计费，访问需要的资源，如Internet</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>