<div th:fragment="smartCampus">
    <div>
        <div>
            <span class="item-header-text">整体设计<div class="global-bottomLine"></div></span>
        </div>
        <div class="container solution-schoolNet solution-smartCampus hidden-xs hidden-sm">
            <div class="row">
                <div class="col-md-12">
                    <div class="solution-teach">
                        <h1>云存储云管理</h1>
                        <div class="design-detail">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <p class="design-top">会议管理、课程管理、校园监控管理、教师管理、考勤管理、学生管理、财务管理、教学质量分析</p>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-2 design-bottom-left">
                                <p>数字资源平台</p>
                                <p>教学应用建设</p>
                                <p>智慧教室</p>
                                <p>学生网络空间</p>
                            </div>
                            <div class="col-md-7 design-bottom-middle"></div>
                            <div class="col-md-2 design-bottom-right">
                                <p>学生云机房</p>
                                <p>在线学习平台</p>
                                <p>一卡通</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="solution-study">
                        <h1>建设目标</h1>
                        <div class="study-detail">
                            <div style="width: 302px;height: 297px;margin: 0 auto;margin-top: 56px;background: url(../../static/images/image_mubiao.png) no-repeat;"></div>
                            <p style="text-align: center;margin-top: 20px;color: rgba(255,255,255,.6)">打造智慧城市体系下智慧校园的标杆工程、建设高水平大学！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 移动端 -->
        <div class="container solution-schoolNet solution-smartCampus-phone hidden-md hidden-lg">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h1>云存储 云管理</h1>
                        <div class="design-detail-phone"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        <h1>建设目标</h1>
                        <div class="study-detail-phone"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h3><span>指导思想</span><div class="global-bottomLine"></div></h3>
            <div class="solution-guideThought hidden-xs hidden-sm">
                <div>统一规划</div>
                <div>分步实施</div>
                <div>共享数据</div>
                <div>整合资源</div>
                <div>加强应用</div>
            </div>
            <div class="solution-guideThought hidden-md hidden-lg"></div>
        </div>

        <div class="index-advantage solution-designPrinciple">
            <h3><span>设计原则</span><div class="global-bottomLine"></div></h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <img class="advantage-outerImg" src="/static/images/img_yuan_01.png" alt="外环">
                            <img class="advantage-innerImg" src="/static/images/icon_shiyong.png" alt="实用性">
                        </div>
                        <h4>实用性</h4>
                        <p>选择的设备和整体架构能够满足当前业务系统的实际使用需求</p>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <img class="advantage-outerImg" src="/static/images/img_yuan_01.png" alt="外环">
                            <img class="advantage-innerImg" src="/static/images/icon_kekaoxing.png" alt="可靠性">
                        </div>
                        <h4>可靠性</h4>
                        <p>“云端”随着教学业务比例增重，系统在建设过程中必须有可靠性设计</p>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <img class="advantage-outerImg" src="/static/images/img_yuan_01.png" alt="外环">
                            <img class="advantage-innerImg" src="/static/images/icon_kuozhan.png" alt="扩展性">
                        </div>
                        <h4>扩展性</h4>
                        <p>在业务不断发展的过程中，IT系统必须具有一定的扩展能力</p>
                    </div>
                    <div class="col-md-3">
                        <div>
                            <img class="advantage-outerImg" src="/static/images/img_yuan_01.png" alt="外环">
                            <img class="advantage-innerImg" src="/static/images/icon_xianjin.png" alt="先进性">
                        </div>
                        <h4>先进性</h4>
                        <p>考虑到建设周期和资金投入，系统建设需要考虑技术先进性</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="solution-authenCost solution-schoolBuild solution-schoolBuild-phone">
            <div class="container">
                <div>
                    <span class="item-header-text">智慧校园建设三阶段<div class="global-bottomLine"></div></span>
                </div>
                <div class="row advantage-detail">
                    <div class="col-md-4">
                        <div class="authenCost-icon">
                            <img src="/static/images/icon_no.1.png" alt="第一阶段">
                        </div>
                        <div class="authenCost-detail">
                            <h4>第一阶段</h4>
                            <p>校园网的整合、改造、无线覆盖</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="authenCost-icon">
                            <img src="/static/images/icon_no.2.png" alt="第二阶段">
                        </div>
                        <div class="authenCost-detail">
                            <h4>第二阶段</h4>
                            <p>数据中心的整合、统一存储、统一接口、统一管理</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="authenCost-icon">
                            <img src="/static/images/icon_no.3.png" alt="第三阶段">
                        </div>
                        <div class="authenCost-detail">
                            <h4>第三阶段</h4>
                            <p>应用系统的完善及统一门户网站的建立</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="solution-wirelessRoam">
            <h3><span>智慧校园系统框架</span><div class="global-bottomLine"></div></h3>
            <div class="container">
                <div class="wirelessRoam-content wirelessRoam-content-phone"></div>
            </div>
        </div>

        <div class="container solution-conditions">
            <h3><span>优惠条件</span><div class="global-bottomLine"></div></h3>
            <div>
                <p>冠铭公司在智慧校园项基础网络及其其他类投资项目建设完成后，可以为学校免费提供智慧校园网软件平台、招生系统、校园APP等系统。学生可以通过校园APP在学校内进行网费缴纳，成绩查询，课表查询，失物招领，通知公告，校内新闻，快递查询，火车票预订等相关操作，方便其在校园内生活。</p>
                <div class="col-md-3"><img src="/static/images/app_01.png" alt="优惠条件1"></div>
                <div class="col-md-3"><img src="/static/images/app_02.png" alt="优惠条件2"></div>
                <div class="col-md-3"><img src="/static/images/app_03.png" alt="优惠条件3"></div>
                <div class="col-md-3"><img src="/static/images/app_04.png" alt="优惠条件4"></div>
            </div>
        </div>
    </div>
</div>