<div th:fragment="wifi">
    <div>
        <div>
            <span class="item-header-text">无处不在的无线网<div class="global-bottomLine"></div></span>
        </div>
        <div class="container solution-schoolNet hidden-xs hidden-sm">
            <div class="row">
                <div class="col-md-12">
                    <div class="solution-teach">
                        <h1>教学·交流</h1>
                        <div class="teach-detail">
                            <div class="col-md-8 teach-top-left">
                                <h4>数学活动 IT 化趋势</h4>
                                <p>黑板正在消失，iPad正在兴起</p>
                                <p>信息爆炸，单纯的你教我学的模式受到挑战，学生要自主学习，学校要提供方便的接入</p>
                                <p>教学和学术交流活动日趋广泛</p>
                            </div>
                            <div class="col-md-4 teach-top-right">
                                <h3>多媒体教室</h3>
                            </div>
                            <div class="col-md-8 teach-bottom-left">
                                <h3>教室</h3>
                            </div>
                            <div class="col-md-4 teach-bottom-right">
                                <h3>实验室</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="solution-study">
                        <h1>生活·学习</h1>
                        <div class="study-detail">
                            <div class="col-md-4 study-top-left">
                                <h3>学生宿舍</h3>
                            </div>
                            <div class="col-md-8 study-top-right">
                                <h4>更多途径的学习和生活</h4>
                                <p>Wifi终端普及</p>
                                <p>无线接入全新的生活方式</p>
                                <p>网上教室、课件下载</p>
                                <p>音乐、影视、交友</p>
                                <p>谷歌、百度、微博等等</p>
                            </div>
                            <div class="col-md-4 study-bottom-left">
                                <h3>学生食堂</h3>
                            </div>
                            <div class="col-md-8 study-bottom-right">
                                <h3>学校图书馆</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 移动端 -->
        <div class="container solution-wifi hidden-lg hidden-md">
            <div class="row">
                <div class="col-md-3 teach-top-left">
                    <h4>数学活动 IT 化趋势</h4>
                    <p>黑板正在消失，iPad正在兴起，信息爆炸，单纯的你教我学的模式受到挑战，学生要自主学习，学校要提供方便的接入，教学和学术交流活动日趋广泛</p>
                </div>
                <div class="col-md-3 teach-top-right">
                    <h3>多媒体教室</h3>
                </div>
                <div class="col-md-3 teach-bottom-left">
                    <h3>教室</h3>
                </div>
                <div class="col-md-3 teach-bottom-right">
                    <h3>实验室</h3>
                </div>
                <div class="col-md-3 study-top-right">
                    <h4>更多途径的学习和生活</h4>
                    <p>Wifi终端普及</p>
                    <p>无线接入全新的生活方式</p>
                    <p>网上教室、课件下载</p>
                    <p>音乐、影视、交友</p>
                    <p>谷歌、百度、微博等等</p>
                </div>
                <div class="col-md-3 study-top-left">
                    <h3>学生宿舍</h3>
                </div>
                <div class="col-md-3 study-bottom-left">
                    <h3>学生食堂</h3>
                </div>
                <div class="col-md-3 study-bottom-right">
                    <h3>学校图书馆</h3>
                </div>
            </div>
        </div>

        <div class="solution-wirelessAP">
            <h3><span>无线AP高密度接入</span><div class="global-bottomLine"></div></h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 wirelessAP-left">
                        <div>高密AP部署</div>
                        <div>SSID隔离</div>
                        <div>Qos保证</div>
                        <div>更可靠的网络</div>
                    </div>
                    <div class="col-md-9 wirelessAP-right">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="wirelessAP-laboratory">
                                    <div>实验室</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="wirelessAP-mediaClassroom">
                                    <div>多媒体教室</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="wirelessAP-classroom">
                                    <div>教室</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="wirelessAP-dormitory">
                                    <div>学生宿舍</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="wirelessAP-canteen">
                                    <div>学生食堂</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="wirelessAP-library">
                                    <div>学校图书馆</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container solution-wirelessRoam">
            <h3><span>无线漫游</span><div class="global-bottomLine"></div></h3>
            <div class="wirelessRoam-content"></div>
        </div>
    </div>
</div>